* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(246, 211, 228);
}

nav {
    background-color: #FFF1E6;
    padding: 6px;
}

nav ul li {
    list-style-type: none;
    padding: 20px;
    font-family: "Pliant", sans-serif;
    font-weight: bold;
    color: rgb(227, 30, 132);

}

nav ul {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 140px; */

}

.container {
    margin: auto;
    width: 80%;
}

.hero {

    display: flex;
    justify-content: center;
    align-items: center;


}

.content {
    width: 35%;

}

.donut_img img {
    width: 490px;
    transform: rotate(15deg);
}

h1 {
    transform: scaleY(1.2);
    line-height: 1.1;
    /* -webkit-text-stroke: 0.02px rgb(0, 0, 0); */
    color: rgb(227, 30, 132);
    font-size: 60px;
    font-family: "Nosifer", sans-serif;
    margin-bottom: 15px;
    /* font-family: "Cherry Bomb One", system-ui; */
    /* font-family: "Knewave", system-ui; */

}

.hero p {
    font-family: "Pliant", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn {
    padding: 7px 70px;
    border: 2px solid black;
    border-radius: 13px;
    background-color: rgb(83, 33, 30);
    color: white;
    font-size: 17px;

}

.wave svg {
    transform: scaleX(-1);
    display: block;
    width: 100%;
}
.menu-header h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.menu-header {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Pliant", sans-serif;
    color:  rgb(83, 33, 30);

}

.menu-section {
    background-color: #FFF1E6;
    padding: 80px 0;
}
.menu-grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.menu-items img{
    width:100%;    /*making the images 100% of their parents width*/
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
    border-radius: 20px;
}
.menu-info{
    display: flex;
    justify-content:space-between;
}
.menu-items button{
    display: block;
    margin: 15px auto 0;
    width: 100%;
}
.menu-items{
    /* background-color: rgba(175, 117, 59, 0.395); */
    background-image: linear-gradient(to top, rgba(209, 154, 106, 0.268),rgba(174, 96, 18, 0.504));
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.79);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.menu-items button:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgba(111, 41, 37, 0.908);
}
.about-section{
    background-color: rgb(83, 33, 30);
}
.about-container{
    display: flex; 
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(246, 211, 228);
    

}
about-image 

